name: iris

on:
  workflow_dispatch:
  pull_request:
    branches: [main]
  push:
    branches: [main, 'branch-*']
    paths:
      - iris/**

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2
      - uses: coursier/setup-action@v1.2.0-M2
        with:
          jvm: 11
          apps: sbt sbtn
      - uses: coursier/cache-action@v5

      - name: Install Redis
        run: sudo apt-get install redis-server

      - name: Install Kotlin
        run: |
          curl -s https://get.sdkman.io | bash
          source "/home/runner/.sdkman/bin/sdkman-init.sh"
          sdk install kotlin
          sudo ln -s $(which kotlinc) /usr/local/bin/kotlinc

      - name: Build
        working-directory: iris
        run: |
          sbtn clean
          sbtn scalafmtCheck

      - name: Tests
        working-directory: iris
        run: sbt -DenableFatalWarnings=true -DenableCoverage=true -DgenerateStoryReport=true test:test

      - name: Upload RTM
        if: always()
        uses: actions/upload-artifact@v2
        with:
          name: IRIS RTM
          path: iris/target/RTM

      - uses: actions/upload-artifact@v2
        with:
          name: IRIS Coverage Report
          path: iris/target/scala-2.13/scoverage-report

      - name: Notify slack
        if: always()
        continue-on-error: true
        uses: kpritam/slack-job-status-action@v1
        with:
          job-status: ${{ job.status }}
          slack-bot-token: ${{ secrets.SLACK_BOT_TOKEN }}
          channel: ci-dev
